<h1>About</h1>
<p>
This is the about page for Crumblr, a baking blog made using Ruby on Rails.
</p1>

<p>
	The Crumblr app was built in <%= link_to "Tal Safran's Ruby on Rails class on Skillshare" , "http://skillshare.talsafran.com" %> by Shyaam Deshmukh.
</p>
